@model ToDoList
@{
    ViewData["Title"] = "Add New Task";
}

<form method="Post" asp-action="AddNewTask">
    <div class="border p-3 mt-4">
        <div class ="row pb-2">
            <h2 class="text-primary"> Create Task</h2>
            <hr />
        </div>

        <div class="mb-3">
            <label asp-for="Task"></label>
            <input asp-for="Task" class="form-control" />
            <span asp-validation-for="Task" class="text-danger"></span>
        </div>
        <button type="submit" class ="btn btn-success" style ="width:150px"> Add Task </button>

        @if(User.Identity.IsAuthenticated)
        {
            <a asp-controller="ToDoList" asp-action="AddNewTask" asp-route-username="@User.Identity.Name"></a>
        }
        else
        {
            string str = "guest";
            <a asp-controller="ToDoList" asp-action="AddNewTask" asp-route-username="@str"></a>
        }
        <a asp-controller="ToDoList" asp-action="Index" class="btn btn-warning" style="width:150px">
        Back to List
        </a>
    </div>
</form>
