@model ToDoList
@{
    ViewData["Title"] = "Delete Task";
}

<form method="Post" asp-action="DeletePost" asp-route-currentL="@TempData["CurrentList"]">
    <input asp-for="Id" hidden />
    <div class="border p-3 mt-4">
        <div class ="row pb-2">
            <h2 class="text-danger"> Delete Task</h2>
            <hr />
        </div>

        <div class="mb-3">
            <label asp-for="Task"></label>
            <input asp-for="Task" class="form-control" />
            <span asp-validation-for="Task" class="text-danger"></span>
        </div>
        <button type="submit" class ="btn btn-success" style ="width:175px"> Delete This Task </button>


        <a asp-controller="ToDoList" asp-action="LoadList" asp-route-name="@TempData["CurrentList"]" class="btn btn-warning" style="width:150px">
        Back to List
        </a>
    </div>
</form>