@model ToDoList
@{
    ViewData["Title"] = "Load New Template";
}


<form method="Post">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary"> Select Template</h2>
            <hr />
        </div>


</form>
