@model ListMain

<h1 style="text-align:center"> Create a New List</h1>

<form method="Post" asp-action="AddNewList">
    <div class="border p-3 mt-4">
        
        @if(User.Identity.IsAuthenticated)
        {
            <div class="row pb-2">
                <h2 class="text-primary"> Name of the new list: </h2>
                <hr />
            </div>
            <div class="mb-3">
                <label asp-for="ListName"></label>
                <input asp-for="ListName" class="form-control" />
                <span asp-validation-for="ListName" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-success" style="width:150px"> Create New List </button>
        
        }
        else
        {
            <h3 style="text-align:center"> You're not currently signed in. Sign in to save your own lists or use the public list below.</h3>
            <br />
            <div class="wrapper">
                <a asp-controller="ToDoList" asp-action="Index" asp-route-currentL="Guest List" type="button" style="width:500px" class="btn btn-success">
                    Create a Temporary List
                </a>
            </div>
        }
        

    </div>
</form>
