@model ToDoList
@{
    ViewData["Title"] = "Edit Task";
}

<form method="Post" asp-action="Edit">
    <div class="border p-3 mt-4">
        <div class ="row pb-2">
            <h2 class="text-primary"> Edit a Task </h2>
            <hr />
        </div>

        <div class="mb-3">
            <label asp-for="Task"></label>
            <input asp-for="Task" class="form-control" />
            <span asp-validation-for="Task" class="text-danger"></span>
        </div>



        <button type="submit" class ="btn btn-success" style ="width:150px"> Update Task </button>
        <a asp-controller="ToDoList" asp-action="Index" class="btn btn-warning" style="width:150px">
        Back to List
        </a>
    </div>
</form>
