@model IEnumerable<ListMain>
@{
    ViewData["Title"] = "Load New Template";
}


<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col" style="text-align:center; width:350px">Available Lists</th>
        </tr>
    </thead>

    <tbody>
        @*going through each row of data*@

        @{
            @foreach (var obj in Model)
            {
                <tr style="text-align:center">
                    
                            <td>
                                <div class="w-50 btn-group" role="group">

                                    <a asp-controller="ToDoList" asp-action="LoadTemplate" asp-route-templateName="@obj.ListName" class="btn btn-success">
                                        @obj.ListName
                                    </a>
                                </div>
                            </td>

                </tr>

            }
        }
    </tbody>

</table>
