@model ToDoList
@{
    ViewData["Title"] = "Load New Template";
}


<form method="Post">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary"> Select Template</h2>

            <a asp-controller="ListMain" asp-action="LoadTemplate" class="btn btn-lg btn-primary" type="button" style="width:500px">  </a>
            
            <hr />
        </div>


</form>
