@model ListMain

@{
    string currentTemplateName = @TempData["TemplateName"].ToString();
}

<h1 style="text-align:center"> Create a New List</h1>

<form method="Post" asp-action="SaveTemplate" asp-route-templateName="@currentTemplateName">
    <div class="border p-3 mt-4">

            <div class="row pb-2">
                <h2 class="text-primary"> Enter the name to save the template as: </h2>
                <hr />
            </div>
            <div class="mb-3">
                <label asp-for="ListName"></label>
                <input asp-for="ListName" class="form-control" />
                <span asp-validation-for="ListName" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-success" style="width:150px"> Save Template </button>

    </div>
</form>
