@{
    ViewData["Title"] = "Home Page";
}



<div class="text-center">
    <h1 class="display-4">To Do List App</h1>
    <br />
    <div class="d-grid gap-2">

        <div wrapper> 

                <button class="btn btn-lg btn-primary" type="button" style="width:500px"> Sign In </button> 
               
        </div>
        <br />
        <div wrapper>
                <a asp-controller="ToDoList" asp-action="Index" class="btn btn-lg btn-primary" type="button" style="width:500px">
                    View Current List
                </a>
              
        </div>
        <br />
        <div wrapper>

            <a asp-controller="ToDoList" asp-action="LoadTemplate" class="btn btn-lg btn-primary" type="button" style="width:500px">

                Load Template
             </a>

        </div>

              
       
    </div>

</div>
