@{
    ViewData["Title"] = "Home Page";
}



<div class="text-center">
    <h1 class="display-4">To Do List </h1>
    <br />
    <div class="d-grid gap-2">

        <div wrapper>
            <a asp-area="Identity" asp-page="/Account/Login" class="btn btn-lg btn-primary" type="button" style="width:500px"> Sign In </a>             
        </div>
        <br />

        <div wrapper>
            <a asp-controller="ListMain" asp-action="AddNewList" class="btn btn-lg btn-primary" type="button" style="width:500px"> Create New List </a>

        </div>
        <br />

        <div wrapper>
            <a asp-controller="ListMain" asp-action="Index" class="btn btn-lg btn-primary" type="button" style="width:500px"> View Lists </a>
        </div>
        <br />

              
       
    </div>

</div>
